@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

#R{
    padding-left: 130px;
      color: rgb(74, 106, 133);
}

.navbar,.nav-item{
    font-family: 'Advent Pro', sans-serif; 
     font-size: 25px;
     
   
}
#dropdownMenuLink{
    padding: 10px;
    font-family: 'Advent Pro', sans-serif;
     font-size: 25px;
     text-decoration: none;
    color: darkgrey;

}
.nav-link{
text-decoration: none;
color: darkgrey;
}


#football{
    font-family: 'Acme', sans-serif;
    font-size: 28px;
}
#hk{
    text-decoration: none;
    color: #007bff;
  }


  
   .col:hover {
    -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  transform: scale(1.075); 
  transition: transform 1s, filter 5s ease-in-out;
  
  }  
  .card-body{
    color: black;
}
.card-text{
    height: 60px;
}
 .card-text1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
  
 }



 /* footer */
 footer {
    background: rgba(0,19,25,0.9);
    min-height: 662px;
}
.item5 {
    border-bottom: 1px solid white;
    padding: 100px 0;
}
.item5 a {
    padding: 10px;
    line-height: 3;
    text-decoration: none;
    font-size: 20px;
}
.col-md-4 a {
    color: #eddfdf;
}





